.topSellersContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: white 2px solid;
  overflow: auto;
  margin: 20px;
  padding: 20px;
  gap: 4rem;
  border-radius: 10px;
  align-items: center;
}

.topSellersList {
  text-align: left;
  margin-top: 0;
}

.productName {
  margin-bottom: 0;
}

.productInfo {
  margin-top: 0;
}
