.footlinks {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: center;
	position: sticky;
}

.footer {
	display: flex;
	justify-content: center;
	position: sticky;
}
