.top-textbox {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: left;
}

.top-button {
  color: white;
}

.top-pup {
  display: flex;
  justify-content: right;
  max-width: 300px;
}

.top-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
